<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div style="margin: 20px; display: flex; gap: 10px">
    <div style="background: lightgray; margin: 20px; padding: 10px; border-radius: 5px">
        {{#each users}}
            <div>Firstname: {{this.firstName}}</div>
            <div>Lastname: {{this.lastName}}</div>
            <div>Email: {{this.email}}</div>
            <div>Password{{this.password}}</div>
            <div>Age: {{this.age}}</div>
            <div>City: {{this.city}}</div>
        {{/each}}
    </div>
</div>

</body>
</html>